.footer-wrapper {
  width: 100%;
  padding-top: 20px;
  font-family: $footer_font;

  .footer-sec {
    width: 83%;
    margin: 0 125px;

    .contactus {
      margin-bottom: 40px;
      div {
        width: 33%;
        display: inline-block;
        font-size: 16px;
      }
      .detailtitle {
        font-size: 16px;
        font-weight: bold;
      }
     .title {
        
        color:$text_color;
        font-size: 38px;
        margin-top: 25px;
        margin-bottom: 15px;
        
      }
      p {
        font-size: 16px;
      }
      .shop-btn {
        border: none;
        font-size: 18px;
        color: white;
        background: black;
        padding: 20px 60px;
      }
      .shop
      {
        text-align: end;
      }
    }
  }
}
//other section in contact us
.other-sec {
  display: flex;
  margin-top: 30px;
  align-items: center;

  .servicename {
    width: 80%;
    div {
      width: 28%;
      display: inline-block;
    }
    p {
      font-size: 16px;
    line-height: 2.0;
    }
  }
  .servicelogo {
    width: 25%;
    text-align: center;
    margin-top: 50px;
    img {
      padding: 10px;
    }
  }
}
.copyright {
  color: darkgray;
  margin-top: 30px;
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer-wrapper {
    padding-top: 30px;
  
  .footer-sec .contactus {
    margin-bottom: 40px;
    div {
      width: 100%;
      display: block;
      font-size: 16px;
    }
    .shop-btn {
      width: 100%;
      font-size: 14px;
      padding: 15px;
    }
    .detailtitle {
      display: block;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
  .other-sec {
    display: block;
    margin-bottom: 20px;

    .servicename {
      width: 100%;
      
      div {
        width: 100%;
        display: block;
      }
      p {
        font-size: 12px;
        
    }
    }

    .other-sec .servicelogo {
      width: 25%;
    text-align: center;
      @media (max-width: 767px) {
          width: 100%;
    
      }
      img {
        padding: 20px;
      }
    }
  }
}
@media (min-width: 767px) and (max-width:1028)
{
  .footer-sec .contactus {
    div {
      width: 100%;
      display: block;
      font-size: 16px;
    }
  }
}