.gallery-wrapper {
  width: 100%;
  padding: 0px 0px;

  .gallery-sec {
    display: flex;
    width: 90%;
    margin: 0px auto;
    .imgsec {
      // width: 39%;
      // margin-top: 100px;
    }
    img {
      width: 100%;
    }
    .firstimg-margin {
      margin-right: 100px;
      width: 35%;
      margin-top: 100px;
      margin-left: 60px;

    }
    .rightimg
    {
      width: 50%;
      margin-top: 150px;
      .textsec
      {
        margin-top: 20px;
      }
    }
  }


.textsec {
  margin-top: 30px;
  letter-spacing: 0.3px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 90px;

  p,
  h1 {
    font-family: "Avenir", sans-serif;
  }
  h1 {
    font-size: 25px;
      color: $text_color;
      font-weight: 200;
  }
  p {
    color:$body_color;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0.8px;
    font-size: 15px;
    margin-top: 10px;
  }
}
// shop btn //
.shop-btn {
  border: none;
  font-size: 12px;
  color: $body_color;
  background: none;
  margin-top: 9px;
  padding: 10px 10px;

  .arrow {
    border: solid #636262;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin: 0px 4px 1px 8px;
  }
  .right {
    transform: rotate(-45deg);
  }
}

/* Text-overlay */

.textoverlay-text {
  position: absolute;
  top: 40%;
  right: 8%;
  text-align: end;
  color: #ffffff;
}
.textoverlay-text h1 {
  font-size: 47px;
}
.textoverlay-text p {
  margin: 15px 0px 30px 0px;
}
.textoverlay-text a {
  padding: 12px 25px;
  color: #5e5e5e;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background: #ffffff;
  text-decoration: none;
}
}

@media (max-width: 767px) {
  .textoverlay-text {
    top: 30%;
    text-align: center;
    left: 10%;
    h1 {
      font-size: 24px;
    }
  }
  .gallery-wrapper {
    padding: 10px;

    .gallery-sec {
      display: block;
      width: 90%;
      .imgsec {
        width: 100%;
      }
    }
  }
  .textsec {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 26px;
    }
    p {
      width: 80%;
      margin-left: 50px;
      font-size: 18px;
    }
  }
}
