.navbar-wrapper {
  display: flex;
  padding: 0px 0px;
  align-items: center;
  // justify-content: center;
  font-weight: 500;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  z-index: 10000;

  .sidespace {
    padding: 0px 0px;
  }
  .navbar-logo {
    width: 12%;
    margin-left: 40px;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }

  .navbar-menu {
    width: 60%;
    position: relative;
    box-sizing: border-box;
    ul {
      padding-left: 22px;
      li {
        font-size: 14px;
        letter-spacing: 0.5px;
        a
        {
          color:white;
        }
      }
    }
    /* Submenu -sideimg */
    .navbar-menuimg {
      width: 450px;
      float: left;
      img {
        display: block;
        height: 280px;
        width: 453px;
      }
    }
  }
}
.navbar-menu-list li {
  display: inline-block;
  padding: 0px 15px;
  // color:black;
  // color: #979797;
}
a:focus {
  color: black;
}

.navbar-megamenu {
  display: none;
  position: absolute;
  top: 103%;
  width: 1000px;
  background: white;
  z-index: 1;
  font-size: 16px;
  transform: translate(-50%);
  left: 50%;

.navbar-megasubmenu {
  width: 550px;
  float: left;

  ul {
    /*   width:80%; */
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 40%;
      padding: 20px 20px;
      a
      {
        color: black;
      }
    }
  }
}
}

.navbar_icon {
  display: none;
}
.cart_bag {
  display: none;
}

/* Rightside icon */
.navbar-wrapper .navbar-icon {
  width: 24%;
  text-align: end;
  position: relative;
  // padding-left: 65px;
  box-sizing: border-box;
}

.navbar-icon .icons {
  display: inline-block;
  padding-right: 26px;
  position: relative;
}
.navbar-icon .icons svg {
  fill: #fff !important;
}
.mybag {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
}

/* Search option box */
.searchoption {
  display: none;
  width: 45%;
    top: 100%;
    background: white;
    padding: 0px;
    position: absolute;
    z-index: 1;
    transform: translate(-50%);
    left: 50%;
}
.searchoption .search-icon {
  float: left;
    width: 20px;
    padding: 25px 22px;
}
.searchoption input {
  float: left;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    height: 60px;
    outline: none;
    width: 500px;
}
.searchoption .cancel-icon {
  float: right;
    width: 15px;
    padding: 27px;
}

@media (max-width: 767px) {
  .search-image {
    display: none;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-wrapper {
    height: 70px;
    width: 100%;
    padding: 40px 20px;

    .navbar-logo {
      width: 60%;
      margin-left: 50px;
      img {
        width: 170px;
      }
    }
  }

  .navbar_icon {
    display: inline-block;
    position: relative;
    .mybag {
      display: none;
    }
    .cancel-icon {
      display: none;
    }
  }
  .cart_bag {
    display: inline-block;
  }

  .main-nav {
    width: 380px;
    height: 300px;
    background: white;
    top: 58px;
    left: -20px;
    display: none;
    position: absolute;
    z-index: 1;

    .navbar-menu-list {
      padding: 0px;
      // position: relative;
    }
    .navbar-submenu-list {
      width: 100%;

      ul li {
        list-style: none;
        line-height: 20px;
        padding-top: 15px;
        display: block;
        color: #ffffff;
        a {
          color: #ffffff;
        }
      }
    }
    .shop-btn {
      float: right;
      .right {
        transform: rotate(-310deg);
      }
    }
    .navbar-megamenu {
      position: absolute;
      top: 20%;
      // left: 50%;

      display: none;
    }
    .navbar-megasubmenu {
      background-color: black;
      ul li a {
        color: white;
      }
    }
  }
}
