body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
  color: #1c1b1b;
  font-weight: 500;
}
/* DESCRIPTION SIDE */
.content-wrapper {
  max-width: 50%;
  width: 30%;
  float: left;
  margin-top: 70px;
  margin-left: 50px;
}
.heading {
  font-size: 20px;
  letter-spacing: 0.2em;
  font-style: normal;
}
.price {
  letter-spacing: 0.2em;
}
.red {
  color: red;
  padding: 0px 20px;
}
.discount {
  border: 1px solid black;
  padding: 2px;
}
.sizechart a {
  color: black;
}
.colorbox {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  background-color: rgb(235, 194, 91);
  background-size: cover;
}
.slider-img {
  max-width: 100%;
}
.addtocart {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #2e4676;
  width: 300px;
  text-align: center;
  font-size: 18px;
  padding: 16px 10px;
  font-weight: bold;
  color: white;
}
.buynow {
  background-color: #136f99;
  width: 300px;
  text-align: center;
  font-size: 18px;
  padding: 10px 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}
