.slider-wrapper {
  width: 90%;
  display: flex;
  margin: 0px auto;
  align-items: center;

  .slider-lefttext {
    text-align: center;
    margin-top: 10px;
    width: 30%;
    width: 30%;
    .title {
      font-weight: 600;
      font-size: 35px;
      color: $text_color;
      font-family:$slider_font;
      margin-top: 40px;
      margin-bottom: 0;
    }
    .subtitle
    {
      margin-bottom: 0;
      line-height: 2.0;
      margin-top: 0px;
    }
    p {
      
      color:$body_color;
    }
  }
  .imgslider {
   
    margin-left: 50px;
    width: 60%;
    margin-top: 40px;
    p {
      color: #8f8f8f;
      padding: 20px;
    }
    img {
      width: 100%;
    }
  }

// shop btn //
.shop-btn {
  border: none;
  font-size: 12px;
  color:$body_color;
  background: none;
  padding: 20px 20px;
}
  .arrow {
    border: solid #636262;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin: 0px 4px 1px 8px;
  }
  .right {
    transform: rotate(-45deg);
  }

.slick-slide {
  margin: auto 15px;
}
.slick-arrow {
  border: solid #cacaca;
  border-width: 0 1px 1px 0;
  padding: 2px;
  height: 15px;
  width: 15px;
  overflow: hidden;
}
.slick-prev {
  transform: rotate(135deg);
}
.slick-next {
  transform: rotate(-45deg);
}
}
@media (max-width: 767px) {
  .slider-wrapper {
    display: block;
    margin: 50px auto;

    .slider-lefttext {
      width: 100%;
    }
    .imgslider {
      margin-top: 30px;
      width: 90%;
      margin-left: 10px;
    }
  }
}
