.topbar-wrapper {
  text-align: center;
  width: 100%;
  margin: 0;
  .top-title {
    padding: 7px 0px 4px;
    color: $text_color;
    font-weight: 100;
    letter-spacing: 2.0px;
    line-height: 24px;
    font-size: $font_size;
    font-family: $header_font;
    margin: 0;
   font-weight: unset;
    padding-left: 1px;
    text-transform: uppercase;
  }
  
}
