.videoplay-wrapper {
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  .playbtn {
    position: absolute;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    top: 45%;
    left: 46%;
    width: 110px;
    height: 110px;
    line-height: 120px;
    text-align: center;
  }

/* Text-overlay */

.textoverlay-text {
  position: absolute;
  top: 40%;
  right: 8%;
  text-align: end;
  color: $img_text_color;

  .title{
    font-size: 40px;
    font-weight: 1000;
  }
  .subtitle
  {
    margin-top: 12px;
    letter-spacing: 1.0px;
    margin-bottom: 35px;
  }
  p {
    margin: 20px 10px 10px 0px;
  }
  a {
    padding: 15px 40px;
    color: $btn_text_color;
    font-size: 13px;
    font-weight: 600;
    border: none;
    background: $btn_bg_color;
    text-decoration: none;
    margin-right: 6px;
  }
  .playbtn{
    margin-top: 20px;
  }
}
}
@media (max-width: 767px) {
  .videoplay-wrapper {
    img {
      height:auto;
      width: 100%;
    }
    .playbtn {
      padding: 25px 25px;
      top: 25%;
      left: 40%;
    }

    .textoverlay-text {
      text-align: center;
      position: static;
      margin-top: 10px;
      margin-bottom: 10px;
      h1 {
        font-size: 24px;
        color: black;
      }
      p {
        font-size: 14px;
        color: black;
      }
      a {
        color: white;
        background: black;
      }
    }
  }
}
