<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="{{'slick.js' | asset_url}}"></script>
<!-- <script src="{{'script.js' | asset_url}}"></script> -->
<script src="{{'build.js' | asset_url}}"></script>