<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="16px" height="16px" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
fill="#ffffff" stroke="none">
<path d="M541 2394 c-242 -52 -463 -267 -525 -510 -25 -96 -22 -303 5 -390 52
-170 41 -157 658 -777 559 -561 566 -568 603 -565 34 3 78 44 562 522 290 285
547 546 572 580 57 75 95 150 123 240 17 55 21 94 21 203 0 123 -3 143 -29
222 -102 303 -364 491 -683 491 -185 -1 -350 -67 -486 -195 l-79 -75 -64 61
c-158 149 -308 210 -517 208 -53 0 -126 -7 -161 -15z m282 -159 c116 -24 189
-68 314 -187 147 -141 140 -141 281 -5 125 119 205 167 327 192 175 37 349
-14 484 -140 192 -179 229 -480 87 -698 -19 -29 -259 -277 -535 -552 l-501
-500 -514 515 c-549 550 -548 549 -590 690 -26 85 -22 219 7 313 31 98 72 161
152 236 134 124 310 174 488 136z"/>
</g>
</svg>