<!-- <?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd"> -->
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="16px" height="16px" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
fill="#ffffff" stroke="none">
<path d="M1079 2537 c-172 -62 -282 -186 -336 -377 -28 -102 -26 -415 5 -530
49 -189 156 -342 282 -403 109 -53 247 -69 372 -43 204 44 341 191 405 434 34
131 42 345 19 482 -34 198 -132 335 -295 414 l-86 41 -150 3 c-137 2 -156 0
-216 -21z m271 -138 c240 -38 344 -216 327 -554 -9 -178 -55 -319 -132 -403
-129 -143 -401 -144 -529 -2 -97 107 -142 281 -133 510 6 167 29 247 90 323
63 77 176 129 292 136 11 0 49 -4 85 -10z"/>
<path d="M813 1145 c-92 -57 -231 -120 -334 -150 -140 -42 -211 -104 -258
-223 -42 -105 -52 -331 -20 -457 14 -56 42 -79 160 -134 171 -79 405 -145 612
-172 57 -7 186 -9 365 -6 262 4 285 6 419 35 162 35 319 86 442 143 111 52
148 81 161 127 18 64 23 231 11 325 -27 204 -108 307 -281 358 -97 28 -251 98
-345 154 -89 54 -132 59 -164 19 -32 -41 -27 -72 19 -115 48 -46 295 -169 400
-200 108 -31 154 -60 180 -113 26 -55 42 -194 33 -296 l-6 -75 -81 -38 c-160
-74 -348 -126 -566 -158 -113 -16 -442 -16 -555 0 -227 33 -441 94 -582 165
l-70 35 -6 73 c-9 100 7 239 33 294 28 57 55 74 172 112 114 36 223 85 330
148 117 69 141 111 97 168 -32 40 -78 35 -166 -19z"/>
</g>
</svg>