<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="16px" height="16px" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)"
fill="#ffffff" stroke="none">
<path d="M194 2239 c-69 -26 -124 -76 -162 -147 l-32 -60 0 -752 0 -752 32
-60 c38 -72 93 -121 165 -148 53 -20 77 -20 1083 -20 1006 0 1030 0 1083 20
72 27 127 76 165 148 l32 60 0 752 0 752 -32 60 c-38 72 -93 121 -165 148 -53
20 -76 20 -1086 19 -999 0 -1034 -1 -1083 -20z m2145 -168 c18 -13 42 -42 52
-65 18 -39 19 -80 19 -726 l0 -686 -22 -44 c-13 -24 -36 -53 -51 -64 -28 -21
-35 -21 -1057 -21 -1022 0 -1029 0 -1057 21 -15 11 -38 40 -51 64 l-22 44 0
686 c0 646 1 687 19 726 17 38 54 73 91 87 8 3 472 5 1030 4 l1015 -2 34 -24z"/>
<path d="M312 1967 c-33 -35 -29 -80 11 -121 17 -19 163 -151 324 -294 l292
-260 -302 -282 c-166 -155 -312 -295 -325 -312 -29 -40 -28 -73 3 -103 34 -35
75 -33 122 7 44 38 469 433 560 521 l62 60 76 -69 c91 -83 130 -106 164 -97
15 3 67 43 116 89 l91 82 166 -156 c91 -87 238 -226 326 -310 146 -138 164
-152 196 -152 61 0 97 63 67 119 -5 9 -149 149 -320 311 -171 161 -311 294
-311 296 0 1 141 128 314 283 173 155 317 289 320 297 22 57 -15 114 -72 114
-27 0 -50 -15 -125 -83 -51 -45 -225 -201 -387 -346 -162 -145 -318 -286 -345
-313 l-51 -48 -219 196 c-691 618 -663 594 -698 594 -22 0 -41 -8 -55 -23z"/>
</g>
</svg>